<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>servletAgencia</servlet-name>
        <servlet-class>controlador.servletAgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRol</servlet-name>
        <servlet-class>controlador.servletRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTipoDoc</servlet-name>
        <servlet-class>controlador.servletTipoDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBarrio</servlet-name>
        <servlet-class>controlador.servletBarrio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAdmin</servlet-name>
        <servlet-class>controlador.servletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUser</servlet-name>
        <servlet-class>controlador.servletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTipoServ</servlet-name>
        <servlet-class>controlador.servletTipoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTipoPren</servlet-name>
        <servlet-class>controlador.servletTipoPren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSolicitud</servlet-name>
        <servlet-class>controlador.servletSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletComentario</servlet-name>
        <servlet-class>controlador.servletComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletContra</servlet-name>
        <servlet-class>controlador.servletContra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletServicio</servlet-name>
        <servlet-class>controlador.servletServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEmpleado</servlet-name>
        <servlet-class>controlador.servletEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDetalle</servlet-name>
        <servlet-class>controlador.servletDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCliente</servlet-name>
        <servlet-class>controlador.servletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMostrarServicios</servlet-name>
        <servlet-class>controlador.servletMostrarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionFecha</servlet-name>
        <servlet-class>controlador.validacionFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionFecha_</servlet-name>
        <servlet-class>controlador.validacionFecha_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionRecoger</servlet-name>
        <servlet-class>controlador.validacionRecoger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSolcitudCliente</servlet-name>
        <servlet-class>controlador.servletSolcitudCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datosRegistrados</servlet-name>
        <servlet-class>controlador.datosRegistrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>condicion</servlet-name>
        <servlet-class>controlador.condicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioFecha</servlet-name>
        <servlet-class>controlador.cambioFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>condicionSelect</servlet-name>
        <servlet-class>controlador.condicionSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muestraBarrios</servlet-name>
        <servlet-class>controlador.muestraBarrios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletAgencia</servlet-name>
        <url-pattern>/servletAgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRol</servlet-name>
        <url-pattern>/servletRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTipoDoc</servlet-name>
        <url-pattern>/servletTipoDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBarrio</servlet-name>
        <url-pattern>/servletBarrio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAdmin</servlet-name>
        <url-pattern>/servletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUser</servlet-name>
        <url-pattern>/servletUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTipoServ</servlet-name>
        <url-pattern>/servletTipoServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTipoPren</servlet-name>
        <url-pattern>/servletTipoPren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSolicitud</servlet-name>
        <url-pattern>/servletSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletComentario</servlet-name>
        <url-pattern>/servletComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletContra</servlet-name>
        <url-pattern>/servletContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletServicio</servlet-name>
        <url-pattern>/servletServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEmpleado</servlet-name>
        <url-pattern>/servletEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDetalle</servlet-name>
        <url-pattern>/servletDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCliente</servlet-name>
        <url-pattern>/servletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMostrarServicios</servlet-name>
        <url-pattern>/servletMostrarServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionFecha</servlet-name>
        <url-pattern>/validacionFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionFecha_</servlet-name>
        <url-pattern>/validacionFecha_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionRecoger</servlet-name>
        <url-pattern>/validacionRecoger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSolcitudCliente</servlet-name>
        <url-pattern>/servletSolcitudCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datosRegistrados</servlet-name>
        <url-pattern>/datosRegistrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>condicion</servlet-name>
        <url-pattern>/condicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioFecha</servlet-name>
        <url-pattern>/cambioFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>condicionSelect</servlet-name>
        <url-pattern>/condicionSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muestraBarrios</servlet-name>
        <url-pattern>/muestraBarrios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
